[submodule "packages/web-client-sdk"]
	path = packages/web-client-sdk
	url = https://github.com/fishjam-cloud/web-client-sdk.git
[submodule "packages/mobile-client-sdk"]
	path = packages/mobile-client-sdk
	url = https://github.com/fishjam-cloud/mobile-client-sdk.git
[submodule "packages/js-server-sdk"]
	path = packages/js-server-sdk
	url = https://github.com/fishjam-cloud/js-server-sdk.git
[submodule "api/protos"]
	path = api/protos
	url = https://github.com/fishjam-cloud/protos
[submodule "api/room-manager"]
	path = api/room-manager
	url = git@github.com:fishjam-cloud/room-manager.git
[submodule "api/fishjam-server"]
	path = api/fishjam-server
	url = git@github.com:fishjam-cloud/fishjam.git
