openapi: 3.1.0
info:
  title: Smelter Cloud API
  version: 0.1.0
  description: >
    Hosted real-time video composition. Create a composition, register inputs and
    outputs, and publish or play back composed streams. Preview specification.
servers:
  - url: https://rtc.fishjam.io
security:
  - BearerAuth: []
tags:
  - name: Composition
  - name: Inputs
  - name: Outputs
  - name: Renderers
  - name: Events
  - name: Room
  - name: Transport
paths:
  /api/composition:
    post:
      tags: [Composition]
      operationId: create_composition
      summary: Create a composition
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompositionRequest"
      responses:
        "201":
          description: Composition created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompositionCreatedResponse"
        "503":
          description: No capacity available
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
  /api/composition/{composition_id}:
    delete:
      tags: [Composition]
      operationId: delete_composition
      summary: Delete a composition
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      responses:
        "200": { description: Deleted }
  /api/composition/{composition_id}/start:
    post:
      tags: [Composition]
      operationId: start_composition
      summary: Start a composition (only needed when autostart is false)
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      responses:
        "200":
          description: Started
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Response" }
  /api/composition/{composition_id}/reset:
    post:
      tags: [Composition]
      operationId: reset_composition
      summary: Reset a composition
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      responses:
        "200":
          description: Reset
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Response" }
  /api/composition/{composition_id}/input/{input_id}/register:
    post:
      tags: [Inputs]
      operationId: register_input
      summary: Register an input
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/InputId" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterInput" }
      responses:
        "200":
          description: Registered. For a tokenless whip_server input, returns the generated bearer token.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Response" }
  /api/composition/{composition_id}/input/{input_id}/unregister:
    post:
      tags: [Inputs]
      operationId: unregister_input
      summary: Unregister an input
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/InputId" }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledUnregister" }
      responses:
        "200": { description: Unregistered }
  /api/composition/{composition_id}/output/{output_id}/register:
    post:
      tags: [Outputs]
      operationId: register_output
      summary: Register an output
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/OutputId" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterOutput" }
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Response" }
  /api/composition/{composition_id}/output/{output_id}/update:
    post:
      tags: [Outputs]
      operationId: update_output
      summary: Update an output's scene
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/OutputId" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateOutputRequest" }
      responses:
        "200": { description: Updated }
  /api/composition/{composition_id}/output/{output_id}/request_keyframe:
    post:
      tags: [Outputs]
      operationId: request_keyframe
      summary: Force a keyframe on an output
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/OutputId" }
      responses:
        "200": { description: Keyframe requested }
  /api/composition/{composition_id}/output/{output_id}/unregister:
    post:
      tags: [Outputs]
      operationId: unregister_output
      summary: Unregister an output
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/OutputId" }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledUnregister" }
      responses:
        "200": { description: Unregistered }
  /api/composition/{composition_id}/image/{image_id}/register:
    post:
      tags: [Renderers]
      operationId: register_image
      summary: Register an image
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { name: image_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ImageSpec" }
      responses:
        "200": { description: Registered }
  /api/composition/{composition_id}/image/{image_id}/unregister:
    post:
      tags: [Renderers]
      operationId: unregister_image
      summary: Unregister an image
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { name: image_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScheduledUnregister" }
      responses:
        "200": { description: Unregistered }
  /api/composition/{composition_id}/font/register:
    post:
      tags: [Renderers]
      operationId: register_font
      summary: Register a font
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                font:
                  type: string
                  format: binary
                  description: TTF or OTF font file
      responses:
        "200": { description: Registered }
  /api/composition/{composition_id}/event:
    post:
      tags: [Events]
      operationId: send_composition_event
      summary: Send a custom event to a template
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SendCompositionEventRequest" }
      responses:
        "200": { description: Delivered }
  /api/composition/{composition_id}/room:
    post:
      tags: [Room]
      operationId: link_room
      summary: Link a Fishjam room to the composition
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LinkRoomRequest" }
      responses:
        "200": { description: Linked }
    delete:
      tags: [Room]
      operationId: unlink_room
      summary: Unlink the Fishjam room
      parameters: [{ $ref: "#/components/parameters/CompositionId" }]
      responses:
        "200": { description: Unlinked }
  /api/composition/{composition_id}/whip/{input_id}:
    post:
      tags: [Transport]
      operationId: whip_publish
      summary: Publish media to an input (WHIP)
      description: Authenticated with the input's own bearer token, not the account token.
      security:
        - InputBearerAuth: []
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/InputId" }
      requestBody:
        required: true
        content:
          application/sdp:
            schema: { type: string }
      responses:
        "201":
          description: SDP answer
          content:
            application/sdp:
              schema: { type: string }
  /api/composition/{composition_id}/whep/{output_id}:
    post:
      tags: [Transport]
      operationId: whep_play
      summary: Play back a composed output (WHEP)
      description: Authentication is optional; public playback is allowed.
      security:
        - {}
        - BearerAuth: []
      parameters:
        - { $ref: "#/components/parameters/CompositionId" }
        - { $ref: "#/components/parameters/OutputId" }
      requestBody:
        required: true
        content:
          application/sdp:
            schema: { type: string }
      responses:
        "201":
          description: SDP answer
          content:
            application/sdp:
              schema: { type: string }
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Your Fishjam Management Token.
    InputBearerAuth:
      type: http
      scheme: bearer
      description: The per-input bearer token returned when registering a whip_server input.
  parameters:
    CompositionId:
      name: composition_id
      in: path
      required: true
      schema: { type: string }
    InputId:
      name: input_id
      in: path
      required: true
      schema: { type: string }
    OutputId:
      name: output_id
      in: path
      required: true
      schema: { type: string }
  schemas:
    CreateCompositionRequest:
      type: object
      properties:
        autostart:
          type: boolean
          default: true
          description: Start the composition immediately.
        cleanup_without_inputs:
          type: boolean
          default: true
          description: Automatically clean up the composition once it has no inputs.
    CompositionCreatedResponse:
      type: object
      required: [composition_id, api_url]
      properties:
        composition_id: { type: string }
        api_url: { type: string }
    ScheduledUnregister:
      type: object
      properties:
        schedule_time_ms:
          type: number
          description: Composition timeline offset (ms) at which to apply the change.
    RegisterInput:
      oneOf:
        - $ref: "#/components/schemas/WhipInput"
        - $ref: "#/components/schemas/WhepInput"
        - $ref: "#/components/schemas/RtmpInput"
        - $ref: "#/components/schemas/HlsInput"
        - $ref: "#/components/schemas/Mp4Input"
      discriminator:
        propertyName: type
    WhipInput:
      type: object
      required: [type]
      properties:
        type: { type: string, enum: [whip_server] }
        bearer_token:
          type: string
          description: Optional. Generated and returned if omitted.
        video: { type: boolean, default: true }
    WhepInput:
      type: object
      required: [type, endpoint_url]
      properties:
        type: { type: string, enum: [whep_client] }
        endpoint_url: { type: string }
        bearer_token: { type: string }
        video: { type: boolean, default: true }
    RtmpInput:
      type: object
      required: [type, app, stream_key]
      properties:
        type: { type: string, enum: [rtmp_server] }
        app: { type: string }
        stream_key: { type: string }
    HlsInput:
      type: object
      required: [type, url]
      properties:
        type: { type: string, enum: [hls] }
        url: { type: string }
    Mp4Input:
      type: object
      required: [type]
      properties:
        type: { type: string, enum: [mp4] }
        url: { type: string }
        loop: { type: boolean }
    RegisterOutput:
      oneOf:
        - $ref: "#/components/schemas/WhipOutput"
        - $ref: "#/components/schemas/RtmpOutput"
      discriminator:
        propertyName: type
    WhipOutput:
      type: object
      required: [type, endpoint_url]
      properties:
        type: { type: string, enum: [whip_client] }
        endpoint_url: { type: string }
        bearer_token: { type: string }
        video: { $ref: "#/components/schemas/OutputVideoOptions" }
        audio: { $ref: "#/components/schemas/OutputAudioOptions" }
    RtmpOutput:
      type: object
      required: [type, url]
      properties:
        type: { type: string, enum: [rtmp_client] }
        url: { type: string }
        video: { $ref: "#/components/schemas/OutputVideoOptions" }
        audio: { $ref: "#/components/schemas/OutputAudioOptions" }
    OutputVideoOptions:
      type: object
      required: [resolution, initial]
      properties:
        resolution: { $ref: "#/components/schemas/Resolution" }
        initial: { $ref: "#/components/schemas/VideoScene" }
        send_eos_when:
          type: object
          description: Conditions under which the output should end.
    OutputAudioOptions:
      type: object
      required: [initial]
      properties:
        initial: { $ref: "#/components/schemas/AudioScene" }
        channels: { type: string, enum: [mono, stereo] }
        mixing_strategy: { type: string }
    Resolution:
      type: object
      required: [width, height]
      properties:
        width: { type: integer }
        height: { type: integer }
    UpdateOutputRequest:
      type: object
      properties:
        video: { $ref: "#/components/schemas/VideoScene" }
        audio: { $ref: "#/components/schemas/AudioScene" }
        schedule_time_ms: { type: number }
    VideoScene:
      type: object
      required: [root]
      properties:
        root: { $ref: "#/components/schemas/Component" }
    Component:
      type: object
      required: [type]
      description: >
        A node in the scene tree. `type` selects the layout: input_stream, view,
        tiles, rescaler, text, or image. See the Scenes guide for the full model.
      properties:
        type:
          type: string
          enum: [input_stream, view, tiles, rescaler, text, image]
        input_id:
          type: string
          description: For type=input_stream.
        image_id:
          type: string
          description: For type=image.
        children:
          type: array
          items: { $ref: "#/components/schemas/Component" }
      discriminator:
        propertyName: type
    AudioScene:
      type: object
      required: [inputs]
      properties:
        inputs:
          type: array
          items:
            type: object
            required: [input_id]
            properties:
              input_id: { type: string }
              volume: { type: number, default: 1.0 }
    ImageSpec:
      type: object
      required: [asset_type]
      properties:
        asset_type:
          type: string
          enum: [png, jpeg, svg, gif, auto]
        url: { type: string }
        resolution:
          $ref: "#/components/schemas/Resolution"
          description: For asset_type=svg.
      discriminator:
        propertyName: asset_type
    SendCompositionEventRequest:
      type: object
      required: [event_name]
      properties:
        event_name:
          type: string
          minLength: 1
          maxLength: 128
        data:
          description: Arbitrary JSON payload delivered to the template's event handler.
    LinkRoomRequest:
      type: object
      required: [fishjam_id, room_id]
      properties:
        fishjam_id: { type: string }
        room_id: { type: string }
    Response:
      description: >
        The fields returned depend on the call. A whip_server input registration
        returns bearer_token; an MP4 input returns durations; an RTMP output may
        return an allocated port; other calls return an empty object.
      type: object
      properties:
        bearer_token: { type: string }
        video_duration_ms: { type: integer }
        audio_duration_ms: { type: integer }
        port: { type: integer }
    ApiError:
      type: object
      required: [message, http_status_code]
      properties:
        message: { type: string }
        http_status_code: { type: integer }
